.features_card {
    /* box-shadow: 0px 0px 27px rgba(66, 232, 224, 0.14); */
    border-radius: 12px;
}

.border_gradiant {
    border-radius: 12px;
    border: 1px solid transparent;
    background: radial-gradient(white, white) padding-box,
        radial-gradient(183.11% 316.22% at 94.98% 48.82%, rgba(66, 232, 224, 0.72) 0%, rgba(67, 224, 222, 0.72) 2%, rgba(71, 186, 209, 0.72) 11%, rgba(75, 154, 199, 0.72) 21%, rgba(78, 127, 190, 0.72) 32%, rgba(80, 107, 183, 0.72) 44%, rgba(82, 92, 179, 0.72) 58%, rgba(83, 84, 176, 0.72) 74%, rgba(83, 81, 175, 0.72) 100%) border-box;
}

.line_height_170 {
    line-height: 170%;
}



.mx_3 {
    margin-left: 15px;
    margin-right: 15px;
}

.slick-next:before {
    padding: 14px 16px;
    background: radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%),
        #42E8E0;
    border-radius: 50px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
    font-family: 'Syne';
    color: #FFFFFF !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    margin-left: -30px;
    padding: 14px 16px;
    background: radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%), #42E8E0;
    border-radius: 50px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
    font-family: 'Syne';
    color: #FFFFFF !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}