@import url(./kunal.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Syne:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
  text-transform: capitalize;
}

:root {
  /* Font-Size */
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-3xl: 30px;
  --fs-4xl: 36px;
  --fs-8xl: 44px;
  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-md: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 800;
  /* colors */
  --clr-primary: #0a1849;
  --clr-Drak: #010101;
  --clr-secondary: #edfdfc;
}

/* Font-Size */

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_8xl {
  font-size: var(--fs-8xl);
}

/* font-family */
.ff_roboto {
  font-family: "Roboto";
}

.ff_satoshi {
  font-family: "Satoshi";
}

.ff_syne {
  font-family: "Syne";
}

.opacity_06 {
  opacity: 0.6;
}

.opacity_07 {
  opacity: 0.7;
}

.opacity_08 {
  opacity: 0.8;
}

/* font-weight */
.fw_light {
  font-weight: var(--fw-light);
}

.fw_regular {
  font-weight: var(--fw-regular);
}

.fw_md {
  font-weight: var(--fw-md);
}

.fw_semibold {
  font-weight: var(--fw-semibold);
}

.fw_bold {
  font-weight: var(--fw-bold);
}

.fw_extrabold {
  font-weight: var(--fw-extrabold);
}

.fw_black {
  font-weight: var(--fw-black);
}

/* color */
.text_primary {
  color: var(--clr-primary) !important;
}

.text_dark {
  color: var(--clr-Drak) !important;
}

.bg_primary {
  background-color: var(--clr-primary);
}

.bg_secondary {
  background-color: var(--clr-secondary);
}

/* common_classes */
.common_paragraph {
  font-family: "Syne";
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--clr-Drak);
  opacity: 0.7;
  line-height: 170%;
}

.common_heading {
  font-family: 'satoshi_bold';
  font-size: var(--fs-4xl);
  color: var(--clr-Drak);
}

.common_btn {
  padding: 14px 28px;
  background: radial-gradient(183.11% 316.22% at 94.98% 48.82%,
      #42e8e0 0%,
      #43e0de 2%,
      #47bad1 11%,
      #4b9ac7 21%,
      #4e7fbe 32%,
      #506bb7 44%,
      #525cb3 58%,
      #5354b0 74%,
      #5351af 100%),
    #42e8e0;
  border-radius: 8px;
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  font-family: "Syne";
  color: #ffffff !important;
  transition: 300ms linear;
}

.common_btn:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.hero_btn {
  padding: 11px 25px;
  border: 3px solid transparent;
  background: radial-gradient(var(--clr-primary), var(--clr-primary)) padding-box,
    radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%) border-box;
  border-radius: 8px;
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  font-family: "Syne";
  color: #ffffff !important;
}

.hero_btn:hover {
  background: radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%) padding-box,
    radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%) border-box;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: inherit;
}

/* ........back to top......... */
.btn_to_top {
  width: 45px !important;
  height: 45px !important;
  border: unset;
  border-radius: 80px;
  color: red;
  font-size: 26px;
  z-index: 23456;
  transition: all linear 300ms;
  animation: top 3s linear infinite;
  background: radial-gradient(183.11% 316.22% at 94.98% 48.82%, #42E8E0 0%, #43E0DE 2%, #47BAD1 11%, #4B9AC7 21%, #4E7FBE 32%, #506BB7 44%, #525CB3 58%, #5354B0 74%, #5351AF 100%), #42E8E0;
}

.btn_to_top:hover {
  box-shadow: 1px 1px 15px #0a1849, -1px -1px 15px #D2D2D2;
}

@media (min-width: 576px) {
  :root {
    /* Font-Size */
    --fs-sm: 16px;
    --fs-md: 24px;
    --fs-4xl: 36px;
    --fs-8xl: 54px;
  }
}

@media (min-width: 992px) {
  :root {
    /* Font-Size */
    --fs-sm: 16px;
    --fs-md: 24px;
    --fs-4xl: 40px;
    --fs-8xl: 60px;
  }
}

@media (min-width: 1200px) {
  :root {
    /* Font-Size */
    --fs-8xl: 80px;
  }
}